<body id="home4">
  <header class="navbar navbar-inverse hero" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="index.html" class="navbar-brand">Itamae</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/docs.html">Documentation</a></li>
          <li><a href="https://github.com/itamae-kitchen/itamae">GitHub</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="hero">
    <div class="container">
      <h1 class="hero-text">The lightweight configuration management tool<br>inspired by Chef</h1>
      <div class="cta">
        <a href="https://github.com/itamae-kitchen/itamae" class="button">View on GitHub</a>
      </div>
    </div>
  </div>
</body>
